[Unit]
Description=monitoring-app
After=syslog.target

[Service]
User=app
EnvironmentFile=/var/lib/monitoring-app/app.env
ExecStart=/opt/jdk-11.0/bin/java -jar /var/lib/monitoring-app/app.jar --spring.config.additional-location=/var/lib/monitoring-app/conf.yml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
