[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.kt]
indent_style = space
indent_size = 4
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
